<div class="card site-card">
  <div class="site-preview">
    <fa-icon [icon]="website.type === 'laptop' ? faLaptop : faStore"></fa-icon>
  </div>
  <div class="site-info">
    <h3 class="site-title">{{ website.name }}</h3>
    <div class="site-url">{{ website.description }}</div>
    <div class="site-actions">
      <button class="btn btn-outline">
        <fa-icon [icon]="faEye"></fa-icon> View
      </button>
      <div class="site-actions d-flex">
        <button class="btn btn-danger" (click)="onDelete()">
          <fa-icon [icon]="faTrash"></fa-icon> Delete
        </button>
        <button class="btn btn-primary me-2" (click)="onEdit()">
          <fa-icon [icon]="faEdit"></fa-icon> Edit
        </button>
      </div>
    </div>
  </div>
</div>
