<div class="dashboard-container">
  <app-sidebar></app-sidebar>

  <div class="main-content">
    <div class="dashboard-header">
      <div class="dashboard-title">
        <h1>Pages du site</h1>
      </div>
      <div class="dashboard-actions">
        <button (click)="openAddPageModal()" class="action-button">
          <fa-icon [icon]="faPlus"></fa-icon> Ajouter une page
        </button>
      </div>
    </div>

    <div class="section-content">
      <h2 class="section-title">Liste des pages</h2>
      <div class="card-container">
        <app-page-card
          *ngFor="let page of pages"
          [page]="page"
          (delete)="deletePage($event)"
          (edit)="editPage($event)"
        ></app-page-card>
      </div>
    </div>
  </div>

  <app-create-page-modal #createPageModal
                         (close)="onCreatePageModalClose()"
                         (create)="onPageCreate($event)">
  </app-create-page-modal>
</div>
