<div class="d-flex flex-column">
  <div class="topbar">
    <div class="logo">
      <i class="fas fa-cubes"></i>
      <span>WebBuilder</span>
    </div>
    <div class="topbar-actions">
      <button class="btn btn-outline-light me-2" id="preview-btn" (click)="togglePreview()">
      <i class="fas" [ngClass]="isPreviewMode ? 'fa-edit' : 'fa-eye'"></i>
      {{ isPreviewMode ? 'Edit' : 'Preview' }}
      </button>
      <button class="btn btn-outline-light me-2" id="undo-btn" >
        <i class="fas fa-undo"></i>
      </button>
      <button class="btn btn-outline-light me-2" id="redo-btn" >
        <i class="fas fa-redo"></i>
      </button>
      <button class="btn btn-outline-danger me-2" id="clear-btn" (click)="clearAll()">
        <i class="fas fa-trash-alt me-1"></i> Clear
      </button>
      <button class="btn btn-success" id="save-btn" (click)="save()">
        <i class="fas fa-save me-1"></i> Save
      </button>
    </div>
  </div>

  <!-- Main Content -->
  <div class="container-fluid d-flex flex-wrap">
    <div class="column">
      <app-origin-list (dragStart)="onDragStart()" (dragMove)="onDragged($event)" (dragEnd)="onDragEnd()"></app-origin-list>
    </div>
    <!-------------------->
    <div class="column">
      <app-database-content
        [tables]="tables"
        [isPreviewMode]="isPreviewMode"
        (dragStart)="onDragStart()"
        (dragEnd)="onDragEnd()"
        (drop)="onDrop($event)"
      ></app-database-content>
    </div>
    <!-------------------->

    <div class="column">
      <app-layout [root]="root" (drop)="onDrop($event)" (dragStart)="onDragStart()"
                  (dragMove)="onDragged($event)" (dragEnd)="onDragEnd()"
                  (remove)="onRemove($event)" (nodeSelected)="onNodeSelected($event)"></app-layout>
    </div>
    <div class="column">
      <app-options [root]="root" [selectedNode$]="selectedNode$" [selectedNodeIsRoot]="isLastSelectedNodeRoot"
                   [layout$]="layout$" (saveNode)="onNodeSave($event)" (saveLayout)="onSaveLayout($event)"></app-options>
    </div>
  </div>
</div>
