<div class="sidebar">
  <div class="sidebar-header">
    <h2>WebBuilder</h2>
  </div>
  <div class="sidebar-menu">
    <button 
      *ngFor="let item of menuItems"
      class="menu-item"
      [class.active]="activeMenuItem === item.id"
      (click)="navigateTo(item)"
    >
      <fa-icon [icon]="item.icon"></fa-icon>
      <span>{{ item.label }}</span>
    </button>
    <button class="menu-item" (click)="onLogout()">
      <fa-icon [icon]="faSignOutAlt"></fa-icon>
      <span>Logout</span>
    </button>
  </div>
  <div class="user-info">
    <div class="user-avatar">
      <fa-icon [icon]="faUser"></fa-icon>
    </div>
    <div>
      <div class="user-name">{{ userName }}</div>
      <div class="user-role">{{ userRole }}</div>
    </div>
  </div>
</div>