<div class="container-fluid">
  <ng-template #recursiveList let-list>
    <div class="card dndPlaceholder w-100" dndPlaceholderRef></div>

    <div class="card w-100 draggable" [ngClass]="{'selected-node': node?.selected }"
         *ngFor="let node of list"
         [dndDraggable]="node"
         (dndCanceled)="onDragged($event, node, list, 'none')"
         (dndCopied)="onDragged($event, node, list, 'copy')"
         (dndEnd)="onDragEnd($event)"
         (dndLinked)="onDragged($event, node, list, 'link')"
         (dndMoved)="onDragged($event, node, list, 'move')"
         (dndStart)="onDragStart($event)"
         (click)="onClickNode($event, node, false, list)"
         dndEffectAllowed="move"
         [style.background-color]="node?.backgroundColor"
         [style.border-color]="node?.borderColor"
         [style.width]="node?.width + 'px'"
         [style.height]="node?.height + 'px'">
      <div class="card-body">
        <div class="card-title d-flex flex-sm-wrap align-items-center justify-content-between">
          <h6>{{ node?.name }} <sup class="text-info">{{ node?.type | firstChar }}</sup></h6>
          <button type="button" class="btn btn-sm" (click)="onRemove(node, list)">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 6H21M9 6V4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V6M18 6V20C18 20.5523 17.5523 21 17 21H7C6.44772 21 6 20.5523 6 20V6H18Z" stroke="#1E90FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
        <div *ngIf="node?.type !== 'widget'" class="d-flex align-items-start gap-2 flex-column p-2">
          <div
            *ngIf="node?.type === 'row'" dndDropzone class="flex-column p-2 gap-2 rounded-2 w-100"
            (dndDrop)="onDrop($event, node?.children ?? [])">
            <ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: node?.children ?? [] }"></ng-container>
          </div>
          <div
            *ngIf="node?.type === 'column'" dndDropzone class="p-2 gap-2 rounded-2 w-100"
            (dndDrop)="onDrop($event, node?.children ?? [])">
            <ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: node?.children ?? [] }"></ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <div dndDropzone class="d-flex flex-column gap-3 p-3 rounded-2 layout-root" [ngClass]="{'selected-node': root?.selected }"
       (click)="onClickNode($event, root!, true)" (dndDrop)="onDrop($event, root?.children ?? [])"
       [style.background-color]="root?.backgroundColor"
       [style.border-color]="root?.borderColor"
       [style.width]="root?.width + 'px'"
       [style.height]="root?.height + 'px'">
    <ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: root?.children ?? [] }"></ng-container>
  </div>
</div>
